#CardContainer {
  background-color: #282828 !important;
}

#CardContent {
  background-color: #282828;
}
#TypographyTitle {
  color: #fff;
}
#TypographyDescription {
  color: #B3B3B3;
}
#CardMediaImage {
  padding: 15px;
  background-color: #282828 !important;
}