#TextField {
  width: 364px;
  height: 20px;
  border-radius: 500px !important;
  
}
#TextField::placeholder {
  color: #75755b;
}

#SearchIconForm {
  color: #bdbdbd;
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: #242424;
  border-radius: 500px !important;
  
}