#TextField {
  min-width: 364px;
  width: 100%;
  height: 20px;
  border-radius: 500px !important;
  
}
#TextField::placeholder {
  color: #75755b;
}

#SearchIconForm {
  color: #bdbdbd;
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: #242424;
  border-radius: 500px !important;
  
}

@media only screen and (max-width: 320px) {
  #TextField {
    min-width: 280px;
    width: 100%;
    height: 20px;
  }
}