.Card {
  width: 200px;
  height: 278px;
  background-color: #181818;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
.Card:hover {
  background-color: #282828;
  transition: all ease .8s;
  display: block;
}

.CardImg {
  padding: 16px;
}

.CardImg img {
  width: 100%;
  max-width: 169;
  height: 169px;
  border-radius: 4px;
}

.CardTitle, .CardDescription {
  padding-left: 16px;
}

.CardTitle {
  font-size: 1.3rem !important;
}

.ContainerPlaybutton .playbutton {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50%;
  background-color: #1ed760;
  position: absolute;
  bottom: 14px;
  left: 138px;
  display: none;
}

.Card:hover .ContainerPlaybutton .playbutton{
  display: block;
  transition: all ease .8s;
}

.ContainerPlaybutton .playbutton img{
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 575px) {
  .Card {
    min-width: 280px;
    width: 100%;
    min-height: 380px !important;
  }

  .CardImg img {
    width: 100%;
    max-width: 169;
    min-height: 240px;
    border-radius: 4px;
  }

  .CardTitle {
    font-size: 1.9rem !important;
  }

  .CardDescription {
    font-size: 1.2rem !important;
  }
}